<header>
  <ul>
    <li>
      <h1>
        <a href="{{ site.baseurl }}/">{{ site.title }}
          <img src="{{ site.baseurl }}/img/alex.gif">
        </a>
      </h1>
    </li>
  </ul>
</header>
<nav>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Blog</a>
    </li>
    {% for page in site.pages %}
    {% if page.title %}
    <li>
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li>
      <a href="http://www.alexchin.co.uk" target="_blank">The Author</a>
    </li>
  </ul>
</nav>
