<div class="typing">
  <p>It's good to be able to type quickly - but not essential! My wpm is about 57wpm... I think 40 is about average.</p>
  <div class="header">
    <button class="btn btn-success pull-right" id="start"><span class="glyphicon glyphicon-play"></span> Start</button>
    <button class="btn btn-danger pull-right disabled" id="reset"><span class="glyphicon glyphicon-flash"></span> Reset</button>
    <h3 class="text-muted">Practise typing!</h3>
    <hr>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div id="box"><span id="message" class="hidden">Game Over!</span></div>
    </div>
    <div class="panel-footer"><strong>Score: <span id="score">0</span></strong></div>
  </div>
<div>
