/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    .header__thumb {
      height: 38px;
      top: 22px;
      right: 15px;
    }
    .header__absolute {
      display: none;
    }
    .header__facebook {
      height: 23px;
      top: 16px;
      left: 550px;
    }
    .header__otter {
      height: 50px;
      bottom: 61px;
      left: 7%;
    }
    .header__glitter-cat {
      height: 24px;
    }
    .header__nerd {
      font-size: 1rem;
      top: 40px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    .header__thumb {
      right: 132px;
    }
    .header__facebook {
      height: 25px;
      top: 22px;
      left: 242px;
    }
    .header__doge {
      font-size: 11px;
      top: 5px;
    }
    .header__otter {
      left: 7%;
    }
    .header__glitter-cat {
      height: 54px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
