@charset "utf-8";
@import "bower.scss";
@import "base/_variables.scss";

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: $serif;
  color: $black;
  background: $black;
  background: url('/img/bg.png');
  border-top: 5px solid $black;
}
ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0 auto;
}

// Partials
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_sidebar.scss";
@import "partials/_main.scss";

// Modules
@import "modules/_recommendations.scss";
@import "modules/_github-ribbon.scss";
@import "modules/_posts.scss";
@import "modules/_meme.scss";
@import "modules/_typing.scss";
@import "modules/_tips.scss";
@import "modules/_fixed-modals.scss";

// Vendor
@import "vendor/_bootstrap-overrides.scss";
@import "vendor/_syntax.scss";

// Responsive
@import "partials/_responsive.scss";
