@charset "utf-8";
@import "bower.scss";
@import "base/_variables.scss";

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: $serif;
  color: $black;
  background: $black;
  background: url('/img/bg.png');
  border-top: 5px solid $black;
}
ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0 auto;
}
a {
  color: $white;
  text-decoration: none;
}
a:hover {
  background: black;
  text-decoration: none;
  color: $yellow;
  i { color: $yellow; }
}

main {
  padding: 40px 0;
  background: $white;
  outline: 2px dashed $yellow;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  text-shadow: none;
  h1, h2, h3 {
    color: $black;
    font-weight: 700;
  }
  a {
    color: $yellow;
    background: $black;
    padding: 2px 10px;
  }

  .tips {
    width: 100%;
    padding: 10px;
    border: 3px solid #0F0;
    font-size: 18px;
    margin-bottom: $padding;
  }
}

// Partials
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_sidebar.scss";

// Modules
@import "modules/_recommendations.scss";
@import "modules/_github-ribbon.scss";
@import "modules/_posts.scss";
@import "modules/_meme.scss";
@import "modules/_typing.scss";

// Vendor
@import "vendor/_bootstrap-overrides.scss";

// Responsive
@import "partials/_responsive.scss";
