/* Colors */
$green:     #09F224;
$black:     #000;
$white:     #fff;
$grey:      #aaa;
$dark-grey: #222;
$yellow:    yellow;

/* Fonts */
$serif: Lucida Grande, Lucida, Verdana, sans-serif;
$san-serif: 'Press Start 2P', cursive;
$comic:  "Comic Sans MS", cursive, sans-serif;
$meme: "Impact", sans-serif;
