---
layout: default
---

<div class="row">
  <div class="col-sm-2 sidebar">
    {% include slack.html %}
    {% for tech in site.data.technologies %}
      <img src="{{ site.baseurl }}/img/{{ tech.image }}" title="{{ tech.name }}">
    {% endfor %}
  </div>
  <div class="col-sm-8 main">
    {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
    <article>
      {{ content }}
    </article>
  </div>
  <div class="col-sm-2 sidebar">
    <img src="{{ site.baseurl }}/img/tom-myspace.gif" />
    Book Advert
    <ul class="sidebar__topics">
      {% for topic in site.data.topics %}
        <li>{{ topic.name }}</li>
      {% endfor %}
    </ul>
    <ul class="sidebar__8bit">
      <li><img src="/img/8-bit/407.png"></li>
      <li><img src="/img/8-bit/408.png"></li>
      <li><img src="/img/8-bit/409.png"></li>
      <li><img src="/img/8-bit/410.png"></li>
      <li><img src="/img/8-bit/411.png"></li>
      <li><img src="/img/8-bit/412.png"></li>
      <li><img src="/img/8-bit/413.png"></li>
      <li><img src="/img/8-bit/414.png"></li>
      <li><img src="/img/8-bit/415.png"></li>
      <li><img src="/img/8-bit/416.png"></li>
      <li><img src="/img/8-bit/417.png"></li>
      <li><img src="/img/8-bit/418.png"></li>
      <li><img src="/img/8-bit/419.png"></li>
      <li><img src="/img/8-bit/420.png"></li>
      <li><img src="/img/8-bit/421.png"></li>
      <li><img src="/img/8-bit/422.png"></li>
    </ul>
    <img src="{{ site.baseurl }}/img/regex.jpeg" />
  </div>
</div>
