main {
  padding: 40px 0;
  background: $white;
  outline: 2px dashed $yellow;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  text-shadow: none;
  h1, h2, h3 {
    color: $black;
    font-weight: 700;
  }
}
