/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header__click,
  .header__pikachu,
  .alex-icon {
    display: none;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body > header {
    height: 157px;
    background: $white;
  }
  header {
    h1 {
      font-size: 1rem;
      a {
        line-height: 100%;
      }
      span {
        font-size: 9px;
      }
    }
    nav {
      display: block;
      ul {
        display: block;
        li {
          display: block;
          a {
            font-size: 2rem;
            vertical-align: middle;
            line-height: 100%;
            font-family: $meme;
            width: 100%;
            display: inline-block;
          }
          &:first-child {
            display: none;
          }
          &.dont-click {
            display: none;
          }
        }
      }
    }
    .header__thumb,
    .header__doge,
    .header__nerd,
    .header__facebook,
    .header__otter,
    .header__linkedin,
    .header__random,
    .header__glitter-cat,
    .header__absolute {
      display: none;
    }
  }
  .github-ribbon,
  .fixed-modal,
  .tips {
    display: none;
  }
  main {
    .sidebar {
      display: none;
    }
    .main {
      width: 100%;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    .header__thumb {
      height: 38px;
      top: 59px;
      right: 154px;
    }
    .header__absolute {
      display: none;
    }
    .header__facebook {
      height: 23px;
      top: 16px;
      left: 550px;
    }
    .header__otter {
      height: 50px;
      bottom: 61px;
      left: 7%;
    }
    .header__glitter-cat {
      height: 24px;
    }
    .header__nerd {
      font-size: 1rem;
      top: 40px;
    }
    .header__doge {
      top: 5px;
      font-size: 11px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    .header__facebook {
      height: 25px;
      top: 22px;
      left: 242px;
    }
    .header__doge {
      font-size: 11px;
      top: 5px;
    }
    .header__otter {
      left: 7%;
    }
    .header__glitter-cat {
      height: 54px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
