---
layout: page
---

{% include tips.html %}
{% include posts.html %}

<h4><a href="http://www.ukhackathons.com/" target="blank">Take a look at a list of all of the hackathons coming up!</a></h4>

{% include meme.html %}
{% include typing.html %}

<h4><a href="http://fontdownloader.herokuapp.com/" target="blank">Do you want to download a website's font purely for academic purposes?</a></h4>

{% include recommendations.html %}

<iframe width="100%" height="315" src="https://www.youtube.com/embed/20BySC_6HyY" frameborder="0" allowfullscreen></iframe>
